.menu-app {
  padding: 16px;
}
  
  
.card {
  box-shadow: 0 8px 10px 0 rgba(10,31,68,0.1);
  width: 100%;
  border-radius: 8px;
  margin: 16px 0;
}
  
.card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}
  
.card-text {
  padding: 16px;
}
  
.rating{
  display: flex;
  align-items: center;
}
  
.rating p{
  margin-right: 8px;
}
  
.card-text-title{
  font-size: 16px;
  color: #424749;
  margin: 8px 0;
}
  
.card-text-subtext{
  color: #6e7679;
  font-size: 12px;
  font-weight: bold;

  display: flex;
  justify-content: flex-start;
}

.card-text-subtext li:first-child{
  list-style: none;
  margin-right: 16px;
}

.card-text-subtext li:nth-child(2){
  text-indent: -8px;
}
  
.price{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.price p{
  font-size: 16px;
  font-weight: bold;
  color: #424749;
}
  
.add-button{
  color: white;
  background-color: #f9423a;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}